html,body{
 margin: 0px;
 background-color: white;
 *{
   font-family: 'Raleway';
   font-weight: normal;
   }
}

html {
  overflown-x: hidden;
  background-color: white;
}

//parallax images




// new Nav css start

.navbar-default .navbar-nav>li>a {
  color: #333333;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #eb5b5b;
}

.reservebutton a {
  border: 1px solid grey;
}
.nav.navbar-nav {
  margin-left: 130px;
}

// new Nav css end




.pane {
  display: table;
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 1.25rem;
  margin: 0;
}

.wrapper {
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
  padding: 5rem 0;
  font-size: 1.125rem;
  text-align: center;

  // -webkit-box-shadow: 0.25rem 0.25rem 0.3125rem rgba(0,0,0,0.5);
  // box-shadow: 0.25rem 0.25rem 0.3125rem rgba(0,0,0,0.5);
}

#section1 {
  background-image:url(./images/user/slider-img/McMacular-homepage.jpg);
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
  position: relative;

  height: 100vh;
}

#section2 {
  padding: 100px 50px;
  text-align: center;
  width: 100%;
  margin: 0px auto;
}

#section2 h2 {
  font-weight: 100;
}
#section2 h3 {
  font-weight: 300;
}

#section2 span {
  font-weight: 100;
  font-size: 54px;
}

#section2 hr {
  width: 175px;
  border-top: 1px solid #eb5b5b;
}

#section2 img {
  width: 80%;
}


//Section 3 carousel

.carousel-control {
  position: inherit;
}

.carousel-control.left {
  margin: 40px;

}
.carousel-control.right {
  margin: 40px;

}

.col-md-offset-2 {
  margin-left: 24.6%;
}

blockquote {
  border-left: 0px;
}
//Section 3 carousel

#section3 h4 {
  font-weight: 200;
}

h2.step  {
  color: #eb5b5b;
  font-size: 18px;
}

//Gallery css

img.slidee {
  height: 123%;
}

.arrow {
    cursor: pointer;
    display: block;
    height: 64px;
    margin-top: -35px;
    outline: medium none;
    position: absolute;
    top: 50%;
    width: 64px;
    z-index: 5;
}
.arrow.prev {
    background-image: url("./images/arrow-left.png");

    left: 20px;
    opacity: 0.2;
    transition: all 0.2s linear 0s;
}
.arrow.next {
    background-image: url("./images/arrow-right.png");
    opacity: 0.2;
    right: 20px;
    transition: all 0.2s linear 0s;
}
.arrow.prev:hover{
    opacity:1;
}
.arrow.next:hover{
    opacity:1;
}

.navi {
    display: block;
    height: 48px;
    left: -300x;
    margin: 0 auto;
    padding: 1em 0 0.8em;
    position: absolute;
    right: 0;
    text-align: center;
    width: 400%;
    z-index: 5;
}
.navi li {
    border-radius: 5px;
    cursor: pointer;
    display: table;
    height: 30px;
    margin: 0 8px;
    position: relative;
    width: 70px;
}


.navi li img {
    width: 140%;
}

.navi li img:hover {
  border: 5px solid #eb5b5b;
}

.slideer {
    border: 5px solid #FFFFFF;
    // border-radius: 5px;
    height: 500px;
    margin: 20px auto;
    top: -20px;
    position: relative;
    width: 800px;



    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.slidee {
    position: absolute;
    left: 0;
}
.slidee.ng-hide-add {
    opacity:1;

    -webkit-transition:2s linear all;
    -moz-transition:2s linear all;
    -o-transition:2s linear all;
    transition:2s linear all;

    -webkit-transform: rotateX(50deg) rotateY(30deg);
    -moz-transform: rotateX(50deg) rotateY(30deg);
    -ms-transform: rotateX(50deg) rotateY(30deg);
    -o-transform: rotateX(50deg) rotateY(30deg);
    transform: rotateX(50deg) rotateY(30deg);

    -webkit-transform-origin: right top 0;
    -moz-transform-origin: right top 0;
    -ms-transform-origin: right top 0;
    -o-transform-origin: right top 0;
    transform-origin: right top 0;
}
.slidee.ng-hide-add.ng-hide-add-active {
    opacity:0;
}
.slidee.ng-hide-remove {
    -webkit-transition:2s linear all;
    -moz-transition:2s linear all;
    -o-transition:2s linear all;
    transition:2s linear all;

    display:block!important;
    opacity:0;
}
.slidee, .slidee.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
}
//Gallery css

//section5
.col-xs-6.form {
  right: -290px;
}
.contactus {
  margin-bottow: 0px;
}
.phonec h1 {
  color: #eb5b5b;
}

//footer css

@import url(http://fonts.googleapis.com/css?family=Roboto:100);
@import url(http://weloveiconfonts.com/api/?family=zocial);

/* Font */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
  font-size: 1.2em;
  speak: none;
}


footer {
  margin-left: -14px;
  position: absolute;
  bottom: 0;

  display: block;
  height: 100px;
  padding: 1em 0 0;
}

.inner {
  height: 100px;
  width: 104%;
}

.copyright {
  line-height: 100px;
  width: 56.6%;
  float: left;
  border-left: 1px solid #e3e3e3;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}
.copyright span {
  margin-left: 10%;
  letter-spacing: 2px;
}

.social {
  float: left;
  width: 43.3%;
  background-color: #e3e3e3;
  line-height: 100px;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}
.social .icons {
  list-style: none;
}
.social .icons .col-4 {
  width: 15%;
  float: left;
}


.social .icons .col-4 a {
  text-align: center;
  background-color: white;
  margin: 0 0 0px 1px;
  display: block;
  transition: background-color 0.7s;
  -webkit-filter: grayscale(100%);
  filter: gray; filter: grayscale(100%);
}
.social .icons .col-4 a:hover {
  transition: background-color 0.7s;
  background-color: #e3e3e3;
  cursor: pointer;
  -webkit-filter: grayscale(0%);
  filter: gray; filter: grayscale(0%);
}

//footer css

// Fit and size reserve start

.accordion__container {
  width: 380px;
  display: inline-block;
}

#sizelist li {
  display: inline;
}

#collapseOne .active {

}


#boxwaist {
  width: 8%;
  padding-bottom: 4%;
  background-color: #FFF;
  text-align: center;
  display: inline-block;
}

#boxlengthh {
  width: 8%;
  padding-bottom: 7%;
  background-color: #FFF;
  text-align: center;
  display: inline-block;
}
.row.title h5 {
  font-size:16px;color:#fff;
  line-height:29px;text-align:center;
  background:#000;
}

.accordion__container .row {
  margin: 0px;
}
.accordion__tab {
    background: white;
    color: #333333;
    border-bottom: 8px solid white;
}
.accordion__tab-title {
    background: #fff;
    padding: 11px;
    cursor: pointer;
    margin: 8px;
    border: 1px solid #A19797;
}
.accordion__tab-content {
    background: #FFF;
    border: 1px solid #A19797;
    margin: 8px;
    margin-top: -15px
}

.accordion__tab-content.size {
  height: 254px;
}

.accordion__tab .btn {
  width: 364px;
}

.accordion__container a {
  color: #333333;
}
//fit and size reserve end.
