html,body{
 margin: 0px;
 background-color: white;
 *{
   font-family: 'Raleway';
   font-weight: normal;
   }
 max-width: 100%;
 overflow-x: hidden;

}
html {
  background-color: white;
}

.parallax-container.homepage{
  height: 567px;
}

.navbar-nav {
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 4;
    background-color: #fff;
    > li {
      float: none;
      display: inline-block;
    }
  }
img.navbar-brand {
  margin-top: -30px;
}

ul.nav.navbar-nav {
  height: 8vh;
}

#bs-example-navbar-collapse-1.collapse.navbar-collapse li a {
  color: #333333;
}

.navbar.navbar-default {
  margin-left: -33px;
  width: 103%;
}

#bs-example-navbar-collapse-1.collapse.navbar-collapse li a.reserve {
  color: #333;
}
#bs-example-navbar-collapse-1.collapse.navbar-collapse li a.reserve:hover {
  color: #fff;
  background: #eb5b5b;
}

.socialx.pull-right a {
  border: 3px solid #333;
  background: #fff;
  color: #333;
  border-radius: 1px;
}

//new Parallax;

.parallax {
  z-index: 0;
  position: initial;
}
.parallax-container.parallax img {
  max-weidth: 100%;
}
//parallax images



// new Nav css end
.pane {
  display: table;
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 1.25rem;
  margin: 0;
}

.wrapper {
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
  padding: 5rem 0;
  font-size: 1.125rem;
  text-align: center;

}
#section1 {
  // margin-top: -30px;
  background-image:url(./images/mcmacular_inside.png);
  // background-size: 180px 160px;
  // background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
  position: relative;
  // right: 20px;

  // height: 100vh;
}

section#section1.pane.homepage.wrapper {
  margin-right: 40px;
}

#section1.pane{
  width: 105%;
}

#section2 {
  padding: 0;
  text-align: center;
  width: 100%;
  margin: 0px auto;
}

#section2 .wrapper {
  padding: 1rem 0;
}
#section2 h2 {
  font-weight: 100;
}
#section2 h3 {
  font-weight: 300;
}
#section2 span {
  font-weight: 100;
  font-size: 54px;
}
#section2 hr {
  width: 175px;
  border-top: 1px solid #eb5b5b;
}


.img-circle {
  border-radius: 6%;
}
//Section 3 carousel
.carousel-control {
  top: initial;
  position: absolute;
  bottom: 0;

}
.carousel-control.left {
  font-size: -webkit-xxx-large;
  width: 0px;
  color: black;
  margin: 0px;
  top: 45px;
  left: -135px;
}
.carousel-control.right {
  font-size: -webkit-xxx-large;
  width: 0px;
  color: black;
  margin: 0px;
  top: 45px;
  right: -119px;
}
.col-md-offset-2 {
  margin-left: 16.6%;
}
blockquote {
  border-left: 0px;
}
//Section 3 carousel

#section3 h4 {
  font-weight: 200;
}
.col-md-offset-4.col-md-12.reviews {
  margin-left: -2px;
}

.rulerolymp img.ruler {
  height: 13vh;
  width: 115px;
}


h2.stepp  {
  color: #eb5b5b;
  font-size: 18px;
}
//Gallery css
img.slidee {
  height: 123%;
  max-width: inherit;
}
// .arrow {
//     cursor: pointer;
//     display: block;
//     height: 64px;
//     margin-top: -35px;
//     outline: medium none;
//     position: absolute;
//     top: 50%;
//     width: 64px;
//     z-index: 5;
// }

//section4 progress bar

.fund {
background-color:#fff;
border-radius:4px;
margin:0 0 4%;
padding:2.5% 3.5%;
}

.fund:last-child {
margin-bottom:4%;
}

.progress {
background-color:#835454;
border-radius:0px;
box-shadow:0 1px 1px rgba(0,0,0,.15) inset;
height:20px;
margin-bottom:3%;
overflow:hidden;
}

.bar {
background-color:#eb5b5b;
box-shadow:0 -1px 1px rgba(0,0,0,.15) inset;
color:#fff;
float:left;
height:100%;
position:relative;
text-align:left;
}

.bar > .percent {
font-size:2.9rem;
left:8px;
position:absolute;
top:3px;
}

.goal {
color: #333;
}


/* Responsive */

@media only screen and (max-width:600px) {
    h1 {
    font-size:2rem;
    margin:8% 0;
    }

    .fund {
    margin:0 0 10%;
    padding:5%;
    }
}

@media only screen and (max-width:480px) {
    h1 {
    font-size:1.4rem;
    }

    .donate {
    display:block;
    float:none;
    margin-top:3%;
    }
}








//section4 ruler and olympic

.row.rulerolymp img {
  transition: background-color 0.7s;
  -webkit-filter: grayscale(100%);
  filter: gray; filter: grayscale(100%);
}

.row.rulerolymp {
  padding: -13px;
  margin-left: 78px;
}

.navi {
    display: block;
    height: 48px;
    left: -300x;
    margin: 0 auto;
    padding: 1em 0 0.8em;
    position: absolute;
    right: 0;
    text-align: center;
    width: 400%;
    z-index: 5;
}
.navi li {
    border-radius: 5px;
    cursor: pointer;
    display: table;
    height: 30px;
    margin: 0 8px;
    position: relative;
    width: 70px;
}
.navi li img {
    width: 140%;
}
.navi li img:hover {
  border: 5px solid #eb5b5b;
}
.slideer {
    border: 5px solid #FFFFFF;
    // border-radius: 5px;
    height: 500px;
    margin: 20px auto;
    top: -20px;
    position: relative;
    width: 800px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.slidee {
    position: absolute;
    left: 0;
}
.slidee.ng-hide-add {
    opacity:1;
    -webkit-transition:2s linear all;
    -moz-transition:2s linear all;
    -o-transition:2s linear all;
    transition:2s linear all;
    -webkit-transform: rotateX(50deg) rotateY(30deg);
    -moz-transform: rotateX(50deg) rotateY(30deg);
    -ms-transform: rotateX(50deg) rotateY(30deg);
    -o-transform: rotateX(50deg) rotateY(30deg);
    transform: rotateX(50deg) rotateY(30deg);
    -webkit-transform-origin: right top 0;
    -moz-transform-origin: right top 0;
    -ms-transform-origin: right top 0;
    -o-transform-origin: right top 0;
    transform-origin: right top 0;
}
.slidee.ng-hide-add.ng-hide-add-active {
    opacity:0;
}
.slidee.ng-hide-remove {
    -webkit-transition:2s linear all;
    -moz-transition:2s linear all;
    -o-transition:2s linear all;
    transition:2s linear all;
    display:block!important;
    opacity:0;
}
.slidee, .slidee.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
}
//Gallery css
//section5
.col-xs-6.form {
  right: -290px;
}
.contactus {
  margin-bottow: 0px;
}
.phonec h1 {
  color: #eb5b5b;
}

#section5.pane.contactus .container {
  margin-top: -155px;
}



//footer css
// @import url(http://fonts.googleapis.com/css?family=Roboto:100);
// @import url(http://weloveiconfonts.com/api/?family=zocial);
/* Font */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
  font-size: 1.2em;
  speak: none;
}
footer {
  margin-left: -14px;
  position: absolute;
  bottom: 0;
  display: block;
  height: 100px;
  padding: 1em 0 0;
}
.inner {
  height: 100px;
  width: 104%;
}
.copyright {
  line-height: 100px;
  width: 56.6%;
  float: left;
  border-left: 1px solid #e3e3e3;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}
.copyright span {
  margin-left: 10%;
  letter-spacing: 2px;
}
.social {
  float: left;
  width: 43.3%;
  background-color: #fff;
  line-height: 100px;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}
.social .icons {
  list-style: none;
}
.social .icons .col-4 {
  width: 15%;
  float: left;
}
.social .icons .col-4 a {
  text-align: center;
  background-color: white;
  margin: 0 0 0px 1px;
  display: block;
  transition: background-color 0.7s;
  -webkit-filter: grayscale(100%);
  filter: gray; filter: grayscale(100%);
}
.social .icons .col-4 a:hover {
  transition: background-color 0.7s;
  background-color: #e3e3e3;
  cursor: pointer;
  -webkit-filter: grayscale(0%);
  filter: gray; filter: grayscale(0%);
}
//footer css
// Fit and size reserve start
.accordion__container {
  width: 380px;
  display: inline-block;
}
#sizelist li {
  display: inline;
}
#boxwaist {
  width: 8%;
  padding-bottom: 4%;
  background-color: #fff;
  text-align: center;
  display: inline-block;
}

#boxwaist #boxlengthh h5,a {
  cursor: pointer;

}
#boxlengthh h5:hover {
  border:.3rem solid #eb5b5b;
  border-radius: 100px;
}

#boxwaist h5:hover {
  border:.3rem solid #eb5b5b;
  border-radius: 100px;
}
#boxlengthh {
  width: 8%;
  padding-bottom: 7%;
  background-color: #fff;
  text-align: center;
  display: inline-block;
}
.row.titlee h5 {
  font-size:16px;color:#fff;
  line-height:29px;text-align:center;
  background:#333;
}
.accordion__container .row {
  margin: 0px;
}
.accordion__tab {
    background: white;
    color: #333333;
    border-bottom: 0px solid white;
}
.accordion__tab-titlee {
    background: #fff;
    padding: 11px;
    cursor: pointer;
    margin: 8px;
    border: 1px solid #A19797;
}
.accordion__tab-content {
    background: #fff;
    border: 1px solid #A19797;
    margin: 8px;
    margin-top: -15px
}
.accordion__tab-content.size {
  height: 225px;
}
.accordion__tab .btn {
  width: 364px;
}
.accordion__container a {
  color: #333333;
}

.accordion__tab button.btn {
  background: grey;
}
.accordion__tab button.btn:hover {
  background: #333333;
}



h4.res {
  color: #fff;
}
//fit and size reserve end.
//Cart modal start

//checkout login

#modaldialog.modal-dialog.modal-dialog-center .modal-content.login .row {
  margin: 61px;
}






#modalHeader.modal-header.modelHeaderBG {
  background-color: #333;
}

#modalHeader.modal-header.modelHeaderBG button.close {
  color: #fff;
}
#modalHeader.modal-header.modelHeaderBG h4 {
  color: #fff;
}
#modalHeader.modal-header.modelHeaderBG button {
  color: #fff;
}
#modaldialog.modal-dialog.modal-dialog-center {
  top: 20px;
  width: 335px;
}

button#closemodal.btn.btn-default {
  background-color: #eb5b5b;
  color: #fff;
}
.modal {
  left: inherit;
  top: inherit;
}
.modal-content {
  height: 100vh;
}
#modalFooter.modal-footer .accordion__tab button.btn {
  width: 305px;
}

//Cart modal end

//Checkout page START


// *{
//   box-sizing:border-box;
//   -webkit-box-sizing:border-box;
// }
form > div {
position: relative;
overflow: hidden;
width:100%;
max-width:320px;

}
form input {
width: 100%;
max-width:320px;
border: 2px solid gray;
background: none;
position: relative;
top: 0;
left: 0;
z-index: 1;
padding: 8px 12px;
outline: 0;
}
form.some input:valid{
background: white;
}
form.some input:focus{
border-color:#80c0ff;
}
form.some input:focus + label.some{
background:#80c0ff;
color: white;
font-size: 1em;
padding: 1px 6px;
z-index: 2;
text-transform: uppercase;
}
form.some label.some {
transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
font-size:1em;
position: absolute;
color: #999;
padding: 7px 6px;
}
form.some textarea {
display: block;
resize: vertical;
}

form.some.go-right label.some {
top: 2px;
right: 100%;
width: 100%;
margin-right: -100%;
bottom: 2px;
border-bottom-right-radius:3px;
border-top-right-radius:3px;
}
form.some.go-right input:focus + label.some, form.some.go-right textarea:focus + label.some {
right: 0;
margin-right: 0;
width: 40%;
padding-top: 5px;
}
img{
  max-width: 100%;
}
#wrap{
  width:80%;
  margin:20px auto;
  background:#FFF;
}
.column{
  width:30%;
  float:left;
  margin-right:2%;
  border-radius:10px;
  background:#fff;
}
.column3{
  margin-right:0;
  margin-left:0;
}
.number{
  width:50px;
  height:50px;
  background:#333333;
  color:#FFF;
  font-size:36px;
  text-align: center;
  border-radius:50%;
  float:left;
  padding-top:5px;
  margin-left:10px;
}
.step {
  width: 100%;
  height: auto;
  color: #333333;
  padding-left: 1%;
  padding-top: 20px;
  float: left;
  position: relative;
}
.step:after{
  content:'';
  width:80%;
  height:3px;
  background:#333333;
  position:absolute;
  bottom:0;
  right:0;
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
}
.title{
  float:left;
  width:70%;
  margin-left:3%;
  font-size:1.2em;
  font-weight:300;
  margin-top:-5px;
}
.title h1{
  font-weight:300;
}
.content{
  padding:2em 2em;
  width:100%;
  margin:0 auto;
  height:auto;
  display:block;
  float:left;
}
.content label{
  font-size:1em;
}
.content input{
  width:100%;
  padding:5px 10px;
  border:1px solid #ccc;
  border-radius:3px;
  display:inline-block;
  font-size: 1.3em;
}
.content button{
  display:block;
  float:none;
  margin:5px auto;
  background:#80c0ff;
  width:200px;
  border:0;
  padding:5px 15px;
  font-size:1.6em;
  color:#FFF;
  border-bottom:3px solid #4da7ff;
  border-radius:2px;
  clear:both;
}
.content .continue{
  display:block;
  float:none;
  background:#333333;
  width:200px;
  border:0;
  padding:5px 15px;
  font-size:1.6em;
  color:#FFF;
  border-bottom:3px solid #333333;
  border-radius:2px;
  clear:both;
  text-align:center;
  text-decoration: none;
  margin:15px auto;
}
#shipping,
#email{
  border-bottom:1px dotted #ccc;
  padding-bottom:1em;
}
.select{
    width: 100%;
   max-width:320px;
    height: 35px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 2px;
    display: inline-block;
    margin-top:5px;
  }
.state_options select,
.country_options select{
    background: transparent;
    display:inline-block;
    width:100%;
    padding: 5px;
    font-size: 1.3em;
    line-height: 1;
    border: 0;
    border-radius:0;
    height: 40px;
}


#billingaddress {
  margin-top: -50px;
}

#billingaddress .state_options label.some,
#billingaddress .country_options label.some.country{
  right: 0;
  margin-right: 0;
  width: 40%;
  top:5px;
  bottom:3px;
  background:#333333;
  color: white;
  font-size: 1em;
  color: #fff;
  padding: 4px 6px;
  z-index: 2;
  text-transform: uppercase;
}
#billingaddress input[type="checkbox"]{
  width:10%;
  float:left;
}
#billingaddress label.same,
#billingaddress form input:focus + label.same{
  width:85%;
  float:left;
  margin-left:0;
  display:block;
  font-size:1.3em;
 padding:0;
  margin-bottom:15px;
 top:3px;
 right: 100%;
 margin-right:-100%;
 bottom: 0;
 background:transparent;
 color:initial;
 text-transform:uppercase;
 border-bottom-right-radius: 3px;
 border-top-right-radius: 3px;
}

#shipping input[type="radio"],
#shipping input[type="radio"]:focus{
  width:30px;
}
#shipping label.some{
  padding:0;
  font-size:1.3em;
}
#shipping.price{
  display:inline-block;
}
#payment .expiry{
  margin-top:7px;
}
#payment label.some.exp_date{
  right: 0;
  margin-right: 0;
  width: 40%;
  top:7px;
  bottom:3px;
  background:#DFDFDF;
  color: white;
  font-size: 1em;
  padding: 4px 6px;
  z-index: 2;
  text-transform: uppercase;
}
#payment .month_select,
#payment .year_select{
    width: 38%;
    height: 40px;
   font-size:.em;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 2px;
    display: inline-block;
}
.month_select select,
.year_select select{
    background: transparent;
    display:inline-block;
    width: 100%;
    padding: 5px;
    font-size: 1.5em;
    line-height: 1;
    border: 0;
    border-radius:0;
    height: 40px;
}
#payment .sec_num,
#payment .expiry{
  display:block;
  float:left;
}
#payment .sec_num{
  width:100%;
  margin-top:5px;
 margin-bottom:15px;
}
.left{
  width:100%;
  float:left;
}

.left button {
  background : grey;
}

.content button{
  background: grey;
  border-bottom: grey;

}
.accepted{
  width:100%;
  padding-right:1em;
  padding-left:1em;
  margin-top:30px;
}
 .accepted span{
  display: table-cell;
  padding:3px;
}
.secured {
  margin-top:5px;
  padding-left:1em;
  padding-right:1em;
}
.secured .lock{
  float:left;
  padding:3px;
  width:25%;
  margin-top:10px;
}
 .secured .security{
  float:left;
  margin-right:5px;
  font-style: italic;
  color:#aaa;
  width:70%;
  margin-bottom:20px;
}
.products{
  width:100%;
  float:left;
  padding-bottom:3px;
  border-bottom:3px solid #aaa;
}
.products .product_image{
  width:60%;
  float:left;
  margin-left: 10%;
}
.products .product_details{
  width:70%;
  display: table;
  vertical-align: middle;
}
.products .product_details span{
  display:table-cell;
  vertical-align: middle;
  margin-top:30%;
  font-size: 1.5em;
  color:#aaa;
}
.totals{
  width:100%;
  float:left;
  border-bottom:3px solid #aaa;
  padding-bottom:5px;
}
.totals .subtitle{
  font-size:2em;
  display:block;
  text-align: left;
  color:#333333;
  width:95%;
  margin-right:5%;
}
.totals .subtitle .sub_price{
  font-style:italic;
  width:100px;
}
.final{
  width:100%;
  float:left;
  font-size:2em;
  text-align: left;
  color:#333333;
}
.final .title{
  width:95%;
  margin-right:5%;
  font-weight:bold;
  margin-top:5px;
}
#reviewed .title{
  width:49%;
  font-size:1.8em;
  float:left;
}
#reviewed .billing{
  width:100%;
  float:left;
  margin-bottom:5px;
  margin-top:20px;
}
#reviewed .billing .address_reviewed,
#reviewed .shipping .address_reviewed,
#reviewed .payment .payment_reviewed{
  color:#aaa;
  font-size:1.2em;
  height:80px;
  width:48%;
  float:left;
}
#reviewed .billing .address_reviewed span{
  display:block;
}
span.method{
  display:block;
}
#reviewed #complete{
  float:left;
  width:100%;
  padding-top:5px;
  border-top:1px dotted #aaa;
}
#reviewed .big_button{
  clear:both;
  display:block;
  width:70%;
  margin:0 auto;
  padding-top:15px;
  padding-bottom:10px;
  color:#fff;
  font-size:2em;
  text-decoration: none;
  background:#333333;
  text-align:center;
  border-bottom: 3px solid #333333;
  border-radius: 2px;
  margin-bottom:20px;
  margin-top:20px;
}
#reviewed #complete .sub{
  color:#aaa;
  display:block;
  text-align:center;
  margin-top:15px;
  width:80%;
  margin:5px auto;
}
@media(max-width:768px){
.column{
width:49%;
}
.column2{
margin-right:0;
}
.column3{
width:100%;
margin-top:30px;
}
@media(max-width:600px){
.column{
width:100%;
margin:0;
margin-top:30px;
}
}
form.some > div {
position: relative;
overflow: hidden;
width:100%;
max-width:320px;

}
form.some input, form textarea {
width: 100%;
max-width:320px;
border: 2px solid gray;
background: none;
position: relative;
top: 0;
left: 0;
z-index: 1;
padding: 8px 12px;
outline: 0;
}
form.some input:valid, form textarea:valid {
background: white;
}
form.some input:focus, form textarea:focus {
border-color: #f06d06;
}
form.some input:focus + label.some, form textarea:focus + label.some {
background:#DFDFDF;
color: white;
font-size: 70%;
padding: 1px 6px;
z-index: 2;
text-transform: uppercase;
}
form.some label.some {
transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
position: absolute;
color: #999;
padding: 7px 6px;
}
form.some textarea {
display: block;
resize: vertical;
}

form.some.go-right label.some {
top: 2px;
right: 100%;
width: 100%;
margin-right: -100%;
bottom: 2px;
border-bottom-right-radius:3px;
border-top-right-radius:3px;
}
form.some.go-right input:focus + label.some, form.some.go-right textarea:focus + label.some {
right: 0;
margin-right: 0;
width: 40%;
padding-top: 5px;
}
}

.checkbox {
  margin-bottom: 40px;
  margin-top: 0px;
}
.checkbox input{
  height: 40px;
}

//Invalid credit card info start

.ng-invalid {
    color: black;
}

//big buttons section5

button.buttonssx {
  width: 100%;
  font-size: 55px;
  margin-bottom: 20px;
  background: #333;
  color: #fff;
  height: 31vh;
}
.col-md-8.pull-left {
  margin-left: -50px;
}

img.aboutus {
  width: 100%;
}

// Checkout page END
