.container-fluid
  .row
    .col-md-6
      h1 Our Story
  .row
    .col-md-4
      .span    
        p  Two 24 yr. old childhood friends that started a Bay Area denim company that produces silk lined 
         | denim that is ideal for brisk nights—specifically those cool San Francisco summer nights. 

        p  We are all about having a ‘McMacular’ time and can never turn down a cold beer—IPA and extra hoppy 
         | preferred. When we are not cranking beers, you can find us cranking work; we love what we do. 
         | We feed off the hustle and grind, using it as motivation to push the limits.  

        p  In 2013 Casey dropped out of college, determined to make the ‘perfect’ jeans. 
         | They needed to intertwined both style and luxury. He was then joined by TJ in 2015 and 
         | they have been kicking ass ever since.
      .span
        h2 McMacular
    .col-md-6
      .row
        .col-lg-4.col-sm-6.col-xs-12
          a(href='#')
            img.thumbnail.img-responsive(src='../../images/Casey.D_founder_mcmacular.jpg') 
            h6 Casey Davis, Founder.   
        .col-lg-4.col-sm-6.col-xs-12
          a(href='#')
            img.thumbnail.img-responsive(src='../../images/Taylor.D_founder_mcmacular.jpg')
            h6 Taylor Danges, Co-founder.
  .row
    iframe(src='//cdn.knightlab.com/libs/timeline/latest/embed/index.html?source=1iv5PIbJdE_nqDm2F4LhG0hcYFgzaeu-oAYVhG7DbwOI&font=Pacifico-Arimo&maptype=toner&lang=en&height=650', width='100%', height='650', frameborder='0')
      
    
      
