.container-fluid
   .container
      .row.aboutusgallery
        .col-lg-3.col-md-4.col-xs-6
          img.img-responsive(src='../../images/About_us_photos/McMacular_founders_1.jpg')
        .col-lg-3.col-md-4.col-xs-6
          img.img-responsive(src='../../images/About_us_photos/mcmacular_lifestyle13.jpg')
        .col-lg-3.col-md-4.col-xs-6
          img.img-responsive(src='../../images/About_us_photos/mcmacular_lifestyle1.jpg')
        .col-lg-3.col-md-4.col-xs-6
          img.img-responsive(src='../../images/About_us_photos/mcmacular_lifestyle12.jpg')
        .col-lg-3.col-md-4.col-xs-6
          img.img-responsive(src='../../images/About_us_photos/mcmacular_lifestyle3.jpg')
        .col-lg-3.col-md-4.col-xs-6
          img.img-responsive(src='../../images/About_us_photos/mcmacular_lifestyle4.jpg')
        .col-lg-3.col-md-4.col-xs-6
          img.img-responsive(src='../../images/About_us_photos/mcmacular_lifestyle5.jpg')
        .col-lg-3.col-md-4.col-xs-6
          img.img-responsive(src='../../images/About_us_photos/mcmacular_lifestyle6.jpg')
        .col-lg-3.col-md-4.col-xs-6
          img.img-responsive(src='../../images/About_us_photos/mcmacular_lifestyle7.jpg')
        .col-lg-3.col-md-4.col-xs-6
          img.img-responsive(src='../../images/About_us_photos/mcmacular_lifestyle8.jpg')
        .col-lg-3.col-md-4.col-xs-6
          img.img-responsive(src='../../images/About_us_photos/mcmacular_lifestyle9.jpg')
        .col-lg-3.col-md-4.col-xs-6
          img.img-responsive(src='../../images/About_us_photos/mcmacular_lifestyle10.jpg')
        .col-lg-3.col-md-4.col-xs-6
          img.img-responsive(src='../../images/About_us_photos/mcmacular_lifestyle11.jpg')
        .col-lg-3.col-md-4.col-xs-6
          img.img-responsive(src='../../images/About_us_photos/mcmacular_lifestyle2.jpg')
        .col-lg-3.col-md-4.col-xs-6
          img.img-responsive(src='../../images/About_us_photos/McMacular_founders_2.jpg')
        .col-lg-3.col-md-4.col-xs-6
          img.img-responsive(src='../../images/About_us_photos/mcmacular_lifestyle14.jpg')
        
