.container-fluid
  #pattern.pattern
    ul.g
      li
        a(href='#')
          img(src='../../images/About_us_photos/McMacular_founders_1.jpg')
      li
        a(href='#')
          img(src='../../images/About_us_photos/mcmacular_lifestyle13.jpg')
      li
        a(href='#')
          img(src='../../images/About_us_photos/mcmacular_lifestyle1.jpg')
      li
        a(href='#')
          img(src='../../images/About_us_photos/mcmacular_lifestyle12.jpg')
      li
        a(href='#')
          img(src='../../images/About_us_photos/mcmacular_lifestyle3.jpg')
      li
        a(href='#')
          img(src='../../images/About_us_photos/mcmacular_lifestyle4.jpg')
      li
        a(href='#')
          img(src='../../images/About_us_photos/mcmacular_lifestyle6.jpg')
      li
        a(href='#')    
          img(src='../../images/About_us_photos/mcmacular_lifestyle7.jpg')  
      li  
        a(href='#')
          img(src='../../images/About_us_photos/mcmacular_lifestyle8.jpg')  
      li
        a(href='#')
          img(src='../../images/About_us_photos/mcmacular_lifestyle9.jpg')  
      li
        a(href='#')
          img(src='../../images/About_us_photos/mcmacular_lifestyle10.jpg')  
      li
        a(href='#')
          img(src='../../images/About_us_photos/mcmacular_lifestyle11.jpg')  
      li
        a(href='#')
          img(src='../../images/About_us_photos/mcmacular_lifestyle2.jpg')
      li
        a(href='#')
          img(src='../../images/About_us_photos/mcmacular_lifestyle14.jpg')
