section#contact.contact
 .container
   .col-md-6.col-md-offset-3
     .row
       h4 Question? Suggestion? Just Chat?
       img(src='../../images/contact-banner.jpg')
     .row
       p If you have any questions or concerns, the fastest way possible to get 
        | a response is to post a comment on our Facebook page or tweet your question to @mcmacular.   
       br
       p Otherwise, feel free to give us a call at (415) 716-1862 or send one of us an email:
         a(href='tel:+14157161862')  
     .row
       .col-xs-4
         a(href='#')
           img.thumbnail.img-responsive(src='../../images/Casey.D_founder_mcmacular.jpg') 
           h6 Casey Davis 
           h6 Founder.
           h6 
              a(href='mailto:casey@mcmacular.com') Casey@mcmacular.com   
       .col-xs-4
         a(href='#')
           img.thumbnail.img-responsive(src='../../images/Taylor.D_founder_mcmacular.jpg')
           h6 Taylor Danges, 
           h6 Co-founder.
           h6 
             a(href='mailto:tj@mcmacular.com') tj@mcmacular.com
