footer
  .inner
    .copyright
      img(src='../../images/McMacular_Logo.jpg', style='width: 30%')
      span © 2015 McMacular LLC. ALL RIGHTS RESERVED.
    .social
      ul.icons
        li.col-4
          a(href='https://www.facebook.com/sharer.php?u=https://www.facebook.com/McMacular', target='_blank')
            img.desaturate(src='https://www.simplesharebuttons.com/images/somacro/facebook.png', alt='Facebook')
        li.col-4
          a(href='https://twitter.com/share?url=https://www.twitter.com/McMacular&text=MacMacular&hashtags=McMacular', target='_blank')
            img.desaturate(src='https://www.simplesharebuttons.com/images/somacro/twitter.png', alt='Twitter')
        li.col-4
          a(href='https://instagram.com/share?url=https://www.instagram.com/McMacular', target='_blank')
            img.desaturate(src='https://www.icicle.org/sites/default/files/Instagram.png', alt='Instagram', style='width: 90%')
      
