footer
  .inner
    .copyright
      img(src='../../images/McMacular_Logo.jpg', style='width: 30%')
      span © 2015 McMacular LLC. ALL RIGHTS RESERVED.
    .social
      ul.icons
        li.col-4
          a(href='http://www.facebook.com/sharer.php?u=http://www.facebook.com/McMacular', target='_blank')
            img.desaturate(src='http://www.simplesharebuttons.com/images/somacro/facebook.png', alt='Facebook')
        li.col-4
          a(href='http://twitter.com/share?url=http://www.twitter.com/McMacular&text=MacMacular&hashtags=McMacular', target='_blank')
            img.desaturate(src='http://www.simplesharebuttons.com/images/somacro/twitter.png', alt='Twitter')
        li.col-4
          a(href='https://plus.google.com/share?url=http://www.plus.google.com/McMacular', target='_blank')
            img.desaturate(src='http://www.simplesharebuttons.com/images/somacro/google.png', alt='Google')
        li.col-4
          a(href='https://instagram.com/share?url=http://www.instagram.com/McMacular', target='_blank')
            img.desaturate(src='http://www.mysportsmedicine.com/images/instagram-circle-7a6c4d8902e97276f799410ffcf09d2f.png', alt='Instagram', style='width: 56%')
        li.col-4
          a(href='http://www.linkedin.com/shareArticle?mini=true&url=http://www.linkedin.com/in/McMacular', target='_blank')
            img.desaturate(src='http://www.simplesharebuttons.com/images/somacro/linkedin.png', alt='LinkedIn')
        li.col-4  
          a(href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());")
            img.desaturate(src='http://www.simplesharebuttons.com/images/somacro/pinterest.png', alt='Pinterest')
