div(ui-view)
  block content
    #sections
      .parallax-container.homepage
        .parallax(style='position: static')
          img(src='../../images/McMacular-homepage.jpg')
      section#section1.pane.homepage
        .wrapper
          include ./sections/section1
      section#section2.pane.productdetails
        .wrapper
          include ./sections/section2
      .parallax-container
        .parallax(style='position: static')
          img(src='../../images/user/product-images/golden-gate-background.jpg')      
      section#section3.pane.howitworks_reviews
        .wrapper
          include ./sections/section3
      .parallax-container
        .parallax(style='position: static')
          img(src='../../images/user/product-images/McMacular_3.jpg')      
      section#section4.pane.reserve
        .wrapper
          include ./sections/section4
      .parallax-container
        .parallax(style='position: static')
          img(src='../../images/user/product-images/cable_car.jpg')      
      section#section5.pane.contactus
        .wrapper
          include ./sections/section5
      include ../../views/general/footer
      script(type="text/javascript").
        function initialize(){
          $(document).ready(function(){
            $('.parallax').parallax();
          });
        }
        initialize();

      
