div(ui-view)
  block content
    #sections
      #section1.pane.homepage
        .wrapper
          include ./sections/section1
          a( class="next", href="#section2" ) NEXT
      
      #section2.pane.productdetails
        .wrapper
          include ./sections/section2
          a( class="next", href="#section3" ) NEXT
              
      #section3.pane.howitworks_reviews
        .wrapper
          include ./sections/section3
          a( class="next", href="#section4" ) NEXT
              
      #section4.pane.reserve
        .wrapper
          include ./sections/section4
          a( class="next", href="#section5" ) NEXT
      
      #section5.pane.contactus
        .wrapper
          include ./sections/section5
          a( class="next", href="#section1" ) NEXT
