div(ui-view)
  block content
    .parallax-container.homepage    
      .parallax
        img.home(src='../../images/McMacular-homepage.jpg', style="display: block; transform: translate3d(-50%, 0px, 0px);")
    #sections
      section#section1.pane
        .wrapper
          include ./sections/section1
      section#section2.pane.productdetails
        .wrapper
          include ./sections/section2
      .parallax-container
        .parallax
          img(src='../../images/user/product-images/golden-gate-background.jpg', style="height:30% width:30%")      
      section#section3.pane.howitworks_reviews
        .wrapper
          include ./sections/section3      
      section#section4.pane.reserve
        .wrapper
          include ./sections/section4
      .parallax-container
        .parallax
          img(src='../../images/user/product-images/cable_car.jpg', style="height:30% width:30%")      
      section#section5.pane.contactus
        .wrapper
          include ./sections/section5
      include ../../views/general/footer
      script(type="text/javascript").
        function initialize(){
          $(document).ready(function(){
            $('.parallax').parallax();
          });
        }
        initialize();

      
