#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  #modaldialog.modal-dialog.modal-dialog-center
    .modal-content
      #checkoutModal
        #modalHeader.modal-header.modelHeaderBG
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#myModalLabel.modal-title
            b Your Cart
        #modalBody.modal-body
          #products.row
            h3 McMacular 
            h5 Silk lined denim
            img(src='../../images/McMacular-sideview.jpg', style='width:65%') 
          #paintDetali
            .row
              span.pull-left: h5 {{activesizewaist}}" x
              span.pull-left: h5  {{activesizelen}}"
              span.pull-left: h5 , {{activeItem}}
          #total.row.halfWhite(style='border-top:2px solid gray')
            b
              span.pull-left: h5 QTY
            b
              span#spantotal.pull-right: h5 1 
          #total.row.halfWhite(style='border-top:2px solid gray')
            .row
              b
                span.pull-left: h4 SUBTOTAL:
              b
                span.pull-right: h4 $271
            .row
              b
                span.pull-left: h4 SHIPPING:
              b
                span#spantotal.pull-right: h4 FREE  
          #total.row.halfWhite(style='border-top:2px solid gray')
            b
              span.pull-left: h3 Total
            b
              span#spantotal.pull-right: h3 $271 
        #modalFooter.modal-footer
            b
              .accordion_tab.res
                 button.btn.btn-default#closemodal(type='button', ng-click='tocheckout()', ui-sref='checkout') Close
          
      
