.container-fluid
  .row.pull-left
    .col-md-6
      img.aboutus(src='../../images/McMacular_founders.jpg') 
    .col-md-6
      .row
        button.hvr-shutter-out-horizontal.buttonssx About us
      .row  
        button.hvr-shutter-out-horizontal.buttonssx Contact us

      
