.container
  .row
    .col-md-6
      h2
        span(style='color: #aeadae;') Made in  
        span(style='color: #eb5b5b;') San Francisco
      hr  
      h3 Silk lined denim created locally to provide you with effortless comfort.
      
    .col-md-6     
      img(src='../../images/user/product-images/second-section-photo.jpg', style='width: 114%')
  .row
    .col-md-6(pull-left)
      img(src='../../images/McMacular-two-feet_beige.jpg')
      
    .col-md-6(pull-right) 
      h2
        span(style='color: #eb5b5b;') Limited 
        span(style='color: #aeadae;') Edition
      hr  
      h3 Production run is limited to 300 pairs. Each handmade leather label is branded with a number&nbsp;out of /300 corresponding with the number in which your order was placed 
