.container.silk
  .col-md-6.pull-right
    hr
    h1 It's What's Inside
    hr
    h3 Wouln't it be better if conversations no longer began with, "Pretty cold, isn't it?"
    h3 What if you could enjoy a barbecue with your friends instead of saying "Lets' go inside, I'm cold."
    h3 Wouldn't it be better if you could focus on having fun instead of uncomfortably doing 
      | and saying things you'd rather not ?
      
    h3 Now you can, it's called McMacular:
    
    h3 Silk lined pants made in San Francisco that will provide you the opportunity to have a good 
     | a good time when you would otherwise behave like a big cold baby.
     
    h3 Don't be a baby. Go have fun.  
    
          
    











//- 
//- .container
//-   .row
//-     .col-md-6.section2text
//-       h4
//-         span(style='color: #eb5b5b;') What makes McMacular special?
//-       div.deetails
//-         p 
//-          i.fa.fa-plus 
//-           | The pants are 100% lined with silk.
//-         p 
//-          i.fa.fa-plus 
//-           | The [hidden] McMacular signature cuff.
//-         p 
//-          i.fa.fa-plus
//-           | You are guaranteed to be comfortable
//-         p 
//-          i.fa.fa-plus
//-           | No one knows that you are swimming in silk.
//-         p 
//-          i.fa.fa-plus 
//-           | The first #300 pairs has a unique handmade leather tag with an individualized serial number imprinted on the back.
//-     .col-md-6     
//-       img(src='../../images/Mcmacular_Silk_lined_denim.jpg', style='width: 114%')
//-   .row
//-     //- .col-md-6(pull-left)
//-     //-   img(src='../../images/beigesecondsection.png')
//-       
//-     .col-md-6(pull-right) 
//-       h2
//-         span(style='color: #eb5b5b;') Limited 
//-         span(style='color: #aeadae;') Edition
//-       hr  
//-       h3 Production run is limited to 300 pairs. Each handmade leather label is branded with a number&nbsp;out of /300 corresponding with the number in which your order was placed 
