.container
  .row
    .col-md-6
      h2 Made in San Francisco
      h3 Silk lined denim created locally to provide you with effortless comfort.
      
    .col-md-6     
      img(src='../../images/user/product-images/second-section-photo.jpg')
  .row
    .col-md-6(pull-left)
      img(src='../../images/user/product-images/cuff-detail/two-feet_beige.jpg')
      
    .col-md-6(pull-right) 
      h2 Limited Edition
      h3 Production run is limited to 300 pairs. Each handmade leather label is branded with a number&nbsp;out of /300 corresponding with the number in which your order was placed 
