.container
  .row 
    h2 HOW IT WORKS
    .col-md-4
      img(src='../../images/user/slider-img/onepage-proc-01.png')
      h2.step Step 1:
      h2 Place Order
      h4 Your credit card will be pre-authorized and charged once the campaign is complete.
    .col-md-4
      img(src='../../images/user/slider-img/onepage-proc-04.png')
      h2.step Step 2:
      h2 Sew Pants
      h4 Your McMaculars will be sewn in the Mission District of San Francisco.
    .col-md-4
      img(src='../../images/user/slider-img/onepage-proc-02-1.png')
      h2.step Step 3:
      h2 Receive Pants
      h4 You will receive your one of-a-kind pants in July 2015.
  .row
    h2 REVIEWS
    .row
      .col-md-offset-2.col-md-8
        #quote-carousel.carousel.slide(data-ride='carousel')
          // Bottom Carousel Indicators
          ol.carousel-indicators
            li.active(data-target='#quote-carousel', data-slide-to='0')
            li(data-target='#quote-carousel', data-slide-to='1')
            li(data-target='#quote-carousel', data-slide-to='2')
          // Carousel Slides / Quotes
          .carousel-inner
            // Quote 1
            .item.active
              blockquote
                .row
                  .col-sm-9
                    img.img-circle(src='../../images/user/slider-img/review1.jpg' alt='Scott', style='width: 100px;height:100px;')
                    br
                    p
                      | “OMG, These are literally the best thing I've EVER WORN. I'm EXTREMELY impressed, eventually I'm going to need like 7 more.”
                    small Scott Tiger, UK (cape town)
            // Quote 2
            .item
              blockquote
                .row
                  .col-sm-9
                    img.img-circle(src='../../images/user/slider-img/review2.jpg' alt='Rayan', style='width: 100px;height:100px;')
                    p
                      | “Just wanted to tell you I tried my pants on and they fit perfectly. They also feel AMAZING! Greate pair of pants I will be talkingabout them nonstop.”
                    small Rayan Peter, Canada (Manitoba)
            // Quote 3
            .item
              blockquote
                .row
                  .col-sm-9
                    img.img-circle(src='../../images/user/slider-img/review3.jpeg' alt='Charles', style='width: 100px;height:100px;')
                    p
                      | “Dude, I fucking love my pants. Comfiest thing to ever touch my legs.”
                    small Charles Mark, USA (San Francisco)
            // Quote 4
            .item
              blockquote
                .row
                  .col-sm-9
                    img.img-circle(src='../../images/user/slider-img/merrick-boss.png' alt='Jona', style='width: 100px;height:100px;')
                    p
                      |  "I received my pants recently and they are fantastic! They are crazy comfortable and they look ultrachic."
                    small Jona
            // Quote 5
            .item
              blockquote
                .row
                  .col-sm-9
                    img.img-circle(src='../../images/user/slider-img/grant-nelson.png' alt='Grant', style='width: 100px;height:100px;')
                    p
                      | “Just got mine today,these have the perfect fit and comfort, I can see myself wearing these all the time! Thanks for everything!”
                    small Grant
            // Quote 6
            .item
              blockquote
                .row
                  .col-sm-9
                    img.img-circle(src='../../images/user/slider-img/eva-reviews.jpg' alt='Eva', style='width: 100px;height:100px;')
                    p
                      | “They look great & they're so perfect for this cold weather we've been having lately! They're tailored really well too. I'm impresed by how well they come out. Thanks so much!”
                    small Eva
            // Quote 7
            .item
              blockquote
                .row
                  .col-sm-9
                    img.img-circle(src='../../images/user/slider-img/theo-reviews.jpg' alt='Theo', style='width: 100px;height:100px;')
                    p
                      | “Great fit and very comfortable! Soon to be my favorite! Thanks for your work!”
                    small Theo
            // Quote 8
            .item
              blockquote
                .row
                  .col-sm-9
                    img.img-circle(src='../../images/user/slider-img/sorty-reviews.jpg' alt='Alex', style='width: 100px;height:100px;')
                    p
                      | “Perfect fit and extremely comfortable!”
                    small Alex
            // Quote 9
            .item
              blockquote
                .row
                  .col-sm-9
                    img.img-circle(src='../../images/user/slider-img/rusell-reviews.PNG' alt='Russell', style='width: 100px;height:100px;')
                    p
                      | “I just wanted to thank you for another perfect job done here, I am already off wearing my McMaculars daily again. So perfectly comfortable. You have an incredible thing here.”
                    small Russell
            // Quote 10
            .item
              blockquote
                .row
                  .col-sm-9
                    img.img-circle(src='../../images/user/slider-img/kayla-reviews.jpg' alt='Kayla', style='width: 100px;height:100px;')
                    p
                      | “Your pants are amazing! I hope to see more products on your website”
                    small Kayla
            // Quote 11
            .item
              blockquote
                .row
                  .col-sm-9
                    img.img-circle(src='../../images/user/slider-img/jack-reviews.jpg' alt='Jack', style='width: 100px;height:100px;')
                    p
                      | “I wore mine to the gym, took a shower after. Realized I forgot fresh boxers. Threw on the McMacs commando.. it was breathtaking. No underwear, no problem.”
                    small Jack
        
        
        
          // Carousel Buttons Next/Prev
          a.left.carousel-control(data-slide='prev', href='#quote-carousel')
            i.fa.fa-chevron-left
          a.right.carousel-control(data-slide='next', href='#quote-carousel')
            i.fa.fa-chevron-right
              
