.container-fluid
  .row
    .col-lg-6.col-sm-6.col-xs-12
      a(href='#')
        img.thumbnail.img-responsive(src='../../images/McMacular_founders.jpg')
    .col-lg-6.col-sm-6.col-xs-12
        button(ui-sref='about').hvr-shutter-out-horizontal.buttonssx About us
        button(ui-sref='contact').hvr-shutter-out-horizontal.buttonssx Contact us
  
