.container
  .row   
    h1.phonec(style='color: #eb5b5b ')
      span.fa.fa-mobile 
      |  650-483-9772    
    h1
      span.fa.fa-envelope-o 
      |  mcmacular.sf@gmail.com    
    h1
      span.fa.fa-map-marker 
      |  2853 Clay St San Francisco, CA 94115
    
  
