.container-fluid
  .row.pull-left
    .col-md-6
      figure.effect-zoe
        img(src='../../images/McMacular_founders.jpg', alt='img25')
        figcaption
          h2
            | Founders 
            span Zoe
          p.description
            | Zoe never had the patience of her sisters. She deliberately punched the bear in his face.
    .col-md-6
      .row
        button.hvr-shutter-out-horizontal.buttonssx About us
      .row  
        button.hvr-shutter-out-horizontal.buttonssx Contact us

    
