nav.navbar.navbar-default(ng-controller='NavCtrl')
  .container-fluid.nav
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.pull-left
          a(ui-sref='home'): img.navbar-brand#logo(src='../../images/McMacular_Logo.jpg')
        li
          a.hvr-underline-from-center(href='#section2', du-smooth-scroll='',  duration='2000') WHAT IT'S ALL ABOUT
        li
          a.hvr-underline-from-center(href='#section3', du-smooth-scroll='', duration='2000') HOW IT WORKS
        li.dropdown
          a.dropdown-toggle.hvr-underline-from-center(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
            | More 
            span.caret
          ul.dropdown-menu(role='menu')
            li
              a(href='#section3', du-smooth-scroll='', duration='2000') Reviews
            li
              a(ui-sref='about') About us
            li
              a(ui-sref='contact') Contact us
        li.socialx.pull-right
          a.reserve(href='#section4', du-smooth-scroll='', duration='2000') Pre-order
        li.dropdown.pull-right(ng-controller='UsersCtrl')
          a.dropdown-toggle(ng-hide='user', href='http://www.jquery2dotnet.com', data-toggle='dropdown')
            | Sign in 
            b.caret
          ul.dropdown-menu.login(style='padding: 15px;min-width: 250px;')
            li
              .row
                .col-md-12
                  form#login-nav.form(role='form', accept-charset='UTF-8')
                    .form-group
                      label.sr-only(for='email') Email address
                      input#exampleInputEmail2.form-control(ng-model='userinfo.email', type='email', placeholder='Email address', required='')
                    .form-group(ng-show='name === "Register"')
                      label(for='password1') Password
                      input#password1.form-control(type='password', name='password1', ng-model='userinfo.password1')
                    .form-group(ng-show='name === "Register"')
                      label(for='password2') Confirm Password
                      input#password2.form-control(type='password', name='password2', ng-model='userinfo.password2')
                    .form-group(ng-show='name === "Login"')
                      label.sr-only(for='password1') Password
                      input#exampleInputPassword2.form-control(ng-model='userinfo.password', type='password', placeholder='Password', required='')
                    .checkbox
                      h5: a(ng-click='isregisteruser()') Don't have an account? Click here
                    .form-group
                      button.btn.btn-success.btn-block(ng-click='submit(userinfo)',type='submit') Sign in
            li.divider
            li
              input#sign-in-facebook.btn.btn-primary.btn-block(ng-click='authenticate("facebook")', type='button', value='Sign In with Facebook')
              input#sign-in-google.btn.btn-primary.btn-block(ng-click='authenticate("google")', type='button', value='Sign In with Google')
              input#sign-in-twitter.btn.btn-primary.btn-block(ng-click='authenticate("twitter")', type='button', value='Sign In with Twitter')
        li.pull-right.dropdown(ng-show='user')
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
            | {{user.email || user.displayName}} 
            span.caret
          ul.dropdown-menu(role='menu')
            li
              a(href='#') Go to your cart
            li
              a(href='#', ng-click='logout()') Logout

  
