nav.navbar.navbar-default(ng-controller='NavCtrl')
  .container-fluid.nav
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.pull-left
          a(ui-sref='home'): img.navbar-brand(src='../../images/McMacular_Logo.jpg')
        li
          a.hvr-underline-from-center(href='#section2', du-smooth-scroll='', du-scrollspy='', duration='2000') WHAT IT'S ALL ABOUT
        li
          a.hvr-underline-from-center(href='#section3', du-smooth-scroll='', du-scrollspy='', duration='2000') HOW IT WORKS
        li.dropdown
          a.dropdown-toggle.hvr-underline-from-center(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
            | More 
            span.caret
          ul.dropdown-menu(role='menu')
            li
              a(href='#section3', du-smooth-scroll='', du-scrollspy='', duration='2000') Reviews
            li
              a(href='#') About us
        li.socialx.pull-right
          a.reserve(href='#section4', du-smooth-scroll='', du-scrollspy='', duration='2000') Reserve Now
        li.pull-right(ng-hide='user')
          a(ui-sref='login') Login
        li.pull-right.dropdown(ng-show='user')
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
            | {{user.email || user.displayName}} 
            span.caret
          ul.dropdown-menu(role='menu')
            li
              a(href='#') Go to your cart
            li
              a(href='#', ng-click='logout()') Logout
