nav(ng-controller='NavCtrl')
    ul
      li
        a(href='#section2', du-smooth-scroll='', du-scrollspy='', duration='2000') WHAT IT'S ALL ABOUT
      li
        a(href='#section3', du-smooth-scroll='', du-scrollspy='', duration='2000') HOW IT WORKS
      li
        a(du-smooth-scroll='section4', du-scrollspy='', duration='2000') Section 4
      li
        a(href='http://github.com/oblador/angular-scroll/') Project on Github
